<!-- index.html -->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <title>AI Shopping Assistant</title>

  <link rel="stylesheet" href="style.css" />
</head>

<body>

  <div class="container">

    <h1>🛒 AI Shopping Assistant</h1>

    <p class="subtitle">
      Ask for laptops, phones, shoes, watches, headphones and more
    </p>

    <div id="chatbox"></div>

    <div class="input-area">

      <input
        type="text"
        id="userInput"
        placeholder="Example: I want a gaming laptop under 70000"
      />

      <button onclick="sendMessage()">
        Send
      </button>

    </div>

  </div>

  <script src="script.js"></script>

</body>
</html>